html,
body {
    height: 100%;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.fondo{
    background-image: url('../imgs/Comedor2.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.fondo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: -1; 
}
.navbar,
.footer {
    background: linear-gradient(to right, #ffffff, #b7b7b7, #323232);
}